@model Homework_20.Models.Note

<h2>Entry Details</h2>
<div class="list">
    <ul>
        <li>ID: @Model.Id</li>
        <li>First Name: @Model.FirstName</li>
        <li>Middle Name: @Model.MiddleName</li>
        <li>Last Name: @Model.LastName</li>
        <li>Phone Number: @Model.PhoneNumber</li>
        <li>Address: @Model.Address</li>
        <li>Information: @Model.Information</li>
    </ul>
    <ul>
        <li><a href="~/Note/Index">Back</a></li>
    </ul>
</div>